# Python
__pycache__/
*.pyc
.env
venv/
*.db # For SQLite database, you might not want to commit user data directly
!backend/users.db # If you decide to commit an empty users.db for initial setup

# macOS
.DS_Store

# Windows
Thumbs.db

# Flask
instance/

# IDE specific files
.vscode/
.idea/

# Editor swap files
*~
*.swp
