Flask
flask-cors
pandas
scikit-learn
spacy
gunicorn # For production deployment with Heroku/Render
# Explicitly add the spaCy model download URL for deployment
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
